.quest-actions-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  padding: 1rem;

  background: var(--color-surface);
}

.quest-actions-menu__actions {
  display: flex;
  gap: 0.75rem;
}

.quest-actions-menu__actions > * {
  flex: 1;
}
