.app-info {
  margin-top: auto;
}

.app-info__title {
  margin: 0;

  font-size: 1rem;
  font-weight: 700;
}

.app-info__version {
  font-size: 0.875rem;

  color: var(--color-text-muted);
}

.app-info__tagline {
  margin: 0;

  font-size: 0.875rem;
  line-height: 1.5;

  color: var(--color-text-muted);
}
